@charset "UTF-8";
body {
    font: 100%;
}

.emoji {
    font-size: 10em;
    animation: rotate 3s infinite linear;
  }
  
  @keyframes rotate {
    from {
      transform: rotateY(0);
    }
    to {
      transform: rotateY(360deg);
    }
}  